{% extends "blog/base.html" %}

{% block content %}
	<h1>You want to work on your novel, your short story, or your latest poem, but there is just no gas in the tank to make that happen.
When it comes to writing prompts, it’s hard to find the happy medium between having enough to spark an idea versus having so much, there’s no room for creativity left. However, depending on how deep you are in writer’s block, you might want something more specific.
Everyone has a different style and approach to how they interact with and interpret writing prompts.
Some of these writing prompts are from websites that have been around for a long time. They might not all have the most gorgeous web design, but give them a whirl! The prompts are fantastic.</h1>
{% endblock content %}